/******************
TEXT CONVENTIONS
******************/

h1{
  text-align: center;
  color: #1199BB;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  padding: 0.2em;
}

body{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/******************
HEADER
******************/
#header{
  max-width: 100%;
  border-top: 0.2em solid #00AAAA;
  padding: 0.5em 0;
  overflow: auto;
}

#header img{
  float: left;
  padding: 0.2em;
  max-height: 2.5em;
}

#header h1{
  float: left;
}

/******************
MAIN
******************/
main{
  clear:both;
}


/******************
FOOTER
******************/

footer {
  clear:both;
  bottom: 0;
  position: fixed;
  background-color:#00AAAA;
  padding: 0.2em;
}

footer p {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}
