/******************
TEXT CONVENTIONS
******************/

h1{
  text-align: center;
  color: #1199BB;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  padding: 0.2em;
}

h4{
  color: #1199BB;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.5em;
  color: #545454;
}

body{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

p, a{
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  color: #545454;
  line-height: 1.5;
}

/******************
HEADER
******************/
#header{
  max-width: 100%;
  border-top: 0.2em solid #00AAAA;
  padding: 0.5em 0;
  overflow: auto;
}

#header img{
  float: left;
  padding: 0.2em;
  max-height: 2.5em;
}

#header h1{
  float: left;
}

/******************
MAIN
******************/
main{
  clear:both;
}

/*ZZZ - Hide class will be used to determine what is shown in each column, remove if not in use*/
.hidden {
  display: none;
}

/*If screen is not mobile-size, these two divs should float next to each other*/
@media screen and (min-width: 40.5em) {
  #available, #unavailable{
    width: 42%;
    float:left;
    margin-top: 2em;
  }
}
.instagram, .facebook, .github, .twitter, .pinterest{
  overflow: hidden; /*forces containment of floats within*/
}

.instagram img, .facebook img, .github img, .twitter img, .pinterest img {
  float: left;
  height: 3em;
}

.instagram a, .facebook a, .github a, .twitter a, .pinterest a {
  float: left;
  padding: 0.8em;
}

.positive-result{
  color: #33CCAA;
  font-weight: bold;
}

.negative-result{
  color: #FF3300;
  font-weight: bold;
}

/******************
FOOTER
******************/

footer {
  clear:both;
  bottom: 0;
  position: fixed;
  background-color:#00AAAA;
  padding: 0.2em;
  width: 95%;
}

footer p {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.2;
}

footer a {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: underline;
}
